.v-grid {
    width: 100% !important;
    height: 90% !important;
}
.v-grid .clipboard img {
    height: 28px;
    width: 21px;
    opacity: 0.8;
    cursor: pointer;
    transition: all 100ms;
}
.v-grid .clipboard img.zeroclipboard-is-hover {
    opacity: 1;
    transform: scale(1.2) rotate(4deg);
}
.v-grid .clipboard img.zeroclipboard-is-active {
    opacity: 1;
    transform: scale(0.8) rotate(-4deg);
}
.v-grid td.new {
    position: relative;
}
.v-grid td.new:after {
    content: "new";
    position: absolute;
    top: 10px;
    right: -32px;
    color: #fff;
    background: #f00;
    background: linear-gradient(45deg, #f00, #900);
    transform: rotate(45deg);
    width: 100px;
    font-size: 14px;
    text-align: center;
    height: 1.2em;
    line-height: 1.1em;
}
.v-grid td.clipboard {
    text-align: center;
}
.v-textfield {
    width: 100% !important;
    margin-bottom: 10px !important;
}
.favicon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
#status {
    position: absolute;
    top: 20px;
    right: 20px;
    background: rgba(0,0,0,0.7);
    color: #fff;
    padding: 20px;
    z-index: 9999;
    border-radius: 2px;
    opacity: 0;
    transition: all 200ms;
    -moz-transform: translateX(130%);
    transform: translateX(130%);
}
#status.display {
    opacity: 1;
    -moz-transform: translateX(0%);
    transform: translateX(0%);
}
